html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', monospace;
}

h1 {
    font-size: 6em;
    margin-bottom:-0.65em;
}

h2 {
    font-size: 4em;
    margin-left:0.25em;
}

a, a:hover {
    color: black;
    text-decoration: none;
}

a:hover h1 {
  text-decoration: underline black 0.085em;
}

a:hover h2 {
  text-decoration: underline black 0.1em;
}
