@font-face {
    font-family: 'BigBlueTermPlus Nerd Font';
    src: url('subset-BigBlueTermPlusNFP.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'BigBlueTermPlus Nerd Font', monospace;
    background-color: white;
    color: black;
}

h1 {
    font-size: 6em;
    margin-bottom: -0.65em;
}

h2 {
    font-size: 4em;
    margin-left: 0.25em;
}

a, a:hover {
    color: black;
    text-decoration: none;
}

/* Blinking DOS-like cursor */
.cursor {
    animation: blink 0.5s steps(2) infinite;
	color: black;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    a {
        color: silver;
    }

    a:hover h1 {
        color: silver;
    }

    a:hover h2 {
        color: silver;
    }

    .cursor {
        color: lime;
    }
}
